In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from scipy import stats
import warnings
warnings.filterwarnings(action = 'ignore')
plt.style.use('seaborn')

In [51]:
data = pd.read_csv('weatherAUS.csv')
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [53]:
data.nunique()

Date             3436
Location           49
MinTemp           389
MaxTemp           505
Rainfall          681
Evaporation       358
Sunshine          145
WindGustDir        16
WindGustSpeed      67
WindDir9am         16
WindDir3pm         16
WindSpeed9am       43
WindSpeed3pm       44
Humidity9am       101
Humidity3pm       101
Pressure9am       546
Pressure3pm       549
Cloud9am           10
Cloud3pm           10
Temp9am           441
Temp3pm           502
RainToday           2
RainTomorrow        2
dtype: int64

In [54]:
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [55]:
data.dropna(inplace = True)

In [56]:
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [57]:
y = data['RainTomorrow']
y

6049      No
6050      No
6052      No
6053      No
6054      No
          ..
142298    No
142299    No
142300    No
142301    No
142302    No
Name: RainTomorrow, Length: 56420, dtype: object

In [58]:
y.value_counts()

No     43993
Yes    12427
Name: RainTomorrow, dtype: int64

In [59]:
data['Date'] = pd.to_datetime(data['Date'])

In [60]:
data['Year'] = data['Date'].dt.year
data['Year'].head()

6049    2009
6050    2009
6052    2009
6053    2009
6054    2009
Name: Year, dtype: int64

In [61]:
data['Months'] = data['Date'].dt.month
data['Months'].head()

6049    1
6050    1
6052    1
6053    1
6054    1
Name: Months, dtype: int64

In [62]:
data['Day'] = data['Date'].dt.day
data['Day'].head()

6049    1
6050    2
6052    4
6053    5
6054    6
Name: Day, dtype: int64

In [63]:
data = data.drop('Date', axis = 1)
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Months,Day
6049,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,...,1004.4,2.0,5.0,26.6,33.4,No,No,2009,1,1
6050,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,...,1012.1,1.0,1.0,20.3,27.0,No,No,2009,1,2
6052,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,...,1009.2,1.0,6.0,28.7,34.9,No,No,2009,1,4
6053,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,...,1009.1,1.0,5.0,29.1,35.6,No,No,2009,1,5
6054,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,...,1007.4,1.0,6.0,33.6,37.6,No,No,2009,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,NE,...,1010.5,0.0,1.0,24.5,32.3,No,No,2017,6,20
142299,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,SE,...,1011.2,7.0,0.0,24.8,32.0,No,No,2017,6,21
142300,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,W,...,1011.8,0.0,0.0,24.8,32.1,No,No,2017,6,22
142301,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,NNW,...,1010.7,1.0,1.0,24.8,29.2,No,No,2017,6,23
142302,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,NNW,...,1009.7,6.0,5.0,25.4,31.0,No,No,2017,6,24

In [64]:
cat_data = data.select_dtypes(include = 'object')
cat_data1 = cat_data.drop('RainTomorrow', axis = 1)
cat_data1

       Location WindGustDir WindDir9am WindDir3pm RainToday
6049      Cobar         SSW        ENE         SW        No
6050      Cobar           S        SSE        SSE        No
6052      Cobar         NNE        NNE        NNW        No
6053      Cobar         WNW        WNW        WSW        No
6054      Cobar         WNW         NW        WNW        No
...         ...         ...        ...        ...       ...
142298   Darwin         ENE         SE         NE        No
142299   Darwin           E         SE         SE        No
142300   Darwin           E          E          W        No
142301   Darwin         ESE         SE        NNW        No
142302   Darwin         ENE        ENE        NNW        No

[56420 rows x 5 columns]

In [65]:
cat_data1.nunique()

Location       26
WindGustDir    16
WindDir9am     16
WindDir3pm     16
RainToday       2
dtype: int64

In [66]:
cat_data1['Location'].nunique()

26

In [67]:
int_data = data.select_dtypes(exclude = 'object')
int_datetime_data = int_data.loc[:,['Year','Months', 'Day']]
int_col = [cols for cols in int_data.columns if cols not in (int_datetime_data.columns)]
int_cols_data = int_data[int_col]
int_cols_data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
6049,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4
6050,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0
6052,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9
6053,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6
6054,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3
142299,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0
142300,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1
142301,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2
142302,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0

In [68]:
data['Rainfall'].value_counts()

0.0      36709
0.2       3009
0.4       1593
0.6       1087
0.8        834
         ...
29.9         1
182.6        1
81.8         1
89.2         1
70.8         1
Name: Rainfall, Length: 410, dtype: int64

In [69]:
def removeOutliers(data: pd.DataFrame)->pd.DataFrame:
    iqr = data.apply(lambda x: stats.iqr(x))
    q3 = data.apply(lambda x: x.quantile(0.75))
    q1 = data.apply(lambda x: x.quantile(0.25))
    ul = q3 + 1.5*iqr
    ll = q1 - iqr*1.5
    try:
        assert len(ul) == len(ll)
        new_data = data.apply(lambda x: [x.median() if (i > ul[x.name] or i < ll[x.name]) else i for i in x])
    except AssertionError:
        print(f'Columns are mismatching: {ul}, {ll}')
    new_data1 = new_data.drop(new_data.sum()[new_data.sum() == 0].index, axis = 1)
    new_data_std = (new_data1 - new_data1.mean())/new_data1.std()
    return new_data

In [70]:
data_int = removeOutliers(int_cols_data)
data_int

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
6049,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4
6050,18.4,28.9,0.0,5.0,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0
6052,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9
6053,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6
6054,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3
142299,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0
142300,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1
142301,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2
142302,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0

In [71]:
from category_encoders import TargetEncoder
cat_data1_ohe = pd.get_dummies(cat_data1, drop_first = True)
cat_data1_ohe

,Location_Brisbane,Location_Cairns,Location_Canberra,Location_Cobar,Location_CoffsHarbour,Location_Darwin,Location_Hobart,Location_Melbourne,Location_MelbourneAirport,Location_Mildura,...,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_Yes
6049,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6050,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6052,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6053,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6054,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142299,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
142300,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
142301,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142302,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
int_datetime_data_str = int_datetime_data.astype(str)
int_datetime_data_str.dtypes

Year      object
Months    object
Day       object
dtype: object

In [73]:
int_datetime_data_ohe = pd.get_dummies(int_datetime_data_str, drop_first = True)
int_datetime_data_ohe

,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,...,Day_29,Day_3,Day_30,Day_31,Day_4,Day_5,Day_6,Day_7,Day_8,Day_9
6049,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6050,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6052,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6053,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6054,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
142299,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
142300,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
142301,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
142302,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [74]:
def feature_concat(*args):
    features_for_model = pd.concat(args, axis = 1)
    return features_for_model

In [75]:
feature = feature_concat(cat_data1_ohe, int_datetime_data_ohe,data_int)
feature

,Location_Brisbane,Location_Cairns,Location_Canberra,Location_Cobar,Location_CoffsHarbour,Location_Darwin,Location_Hobart,Location_Melbourne,Location_MelbourneAirport,Location_Mildura,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
6049,0,0,0,1,0,0,0,0,0,0,...,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4
6050,0,0,0,1,0,0,0,0,0,0,...,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0
6052,0,0,0,1,0,0,0,0,0,0,...,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9
6053,0,0,0,1,0,0,0,0,0,0,...,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6
6054,0,0,0,1,0,0,0,0,0,0,...,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,0,0,0,0,0,1,0,0,0,0,...,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3
142299,0,0,0,0,0,1,0,0,0,0,...,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0
142300,0,0,0,0,0,1,0,0,0,0,...,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1
142301,0,0,0,0,0,1,0,0,0,0,...,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2
142302,0,0,0,0,0,1,0,0,0,0,...,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0

In [76]:
y.value_counts()

No     43993
Yes    12427
Name: RainTomorrow, dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(feature, y, test_size = 0.25)

In [78]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [79]:
y_pred = logreg.predict(X_test)
y_pred

array(['No', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [80]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8498404820985466

In [81]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[10436   638]
 [ 1480  1551]]

In [82]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       0.88      0.94      0.91     11074
         Yes       0.71      0.51      0.59      3031

    accuracy                           0.85     14105
   macro avg       0.79      0.73      0.75     14105
weighted avg       0.84      0.85      0.84     14105